extends chiefIndexLayout

block options
    div.row
        div#div-logo.col-md-12
            img(class="center" id="logo" alt="iKitchen Logo Image Preview" src="/images/logo.png")
                
    div.row
        div.col-md-12
            ul.button-list.center
                li
                    a(class="btn btn-default" href="/chiefViewList" role="button") 接单
