extends serverIndexLayout

block options
    div.row
        div.col-md-6.body-main
            img(id="logo" alt="iKitchen Logo Image Preview" src="/images/logo.png")

        div.col-md-6.body-main
            form(id="form-order" action="/order" method="POST")
                fieldset
                    legend 菜品
                    
                    div.form-group
                        div.row
                            div.col-md-12
                                table.table
                                    thead
                                        tr
                                            th #
                                            th 菜品名称
                                            th 菜品库存
                                            th 点菜
                                            th 所需数量
                                    tbody
                                        tr.active
                                            td 1
                                            td fish
                                            td 30
                                            td
                                                input(type="checkbox" name="dish-check" checked=true)
                                            td
                                                input(type="number" class="form-control" name="order-count")
                                        tr.active
                                            td 2
                                            td hamburger
                                            td 10
                                            td
                                                input(type="checkbox" name="dish-check")
                                            td
                                                input(type="number" class="form-control" name="order-count")

                                        //- each dish in dishes
                                        //-     tr.active
                                        //-         td #{i}
                                        //-         td #{dish.name}
                                        //-         td #{dish.count}
                                        //-         td
                                        //-             input(type="checkbox" name="dish-check")
                                        //-         td
                                        //-             input(type="number" class="form-control" name="orderCount")

                    button(type="submit" class="btn btn-default btn-right") 点单
